@page "/task-list/check-eligibility/{id:int}"

@using System.Linq.Expressions
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.ConfirmEligibility.IndexModel
@{
    ViewData["Title"] = "Confirm eligibility";

    List<LambdaExpression> summaryItems;

    if (!string.IsNullOrWhiteSpace(Model.SchoolIsNotEligibleNotes))
    {
        summaryItems = SummaryListHelper.For<IndexModel>(
            m => m.SchoolIsEligible!, 
            m => m.SchoolIsNotEligibleNotes!
        );
    }
    else
    {
        summaryItems = SummaryListHelper.For<IndexModel>(
            m => m.SchoolIsEligible!
        );
    }
    
    string eligibility = Model.SchoolIsEligible switch
    {
        true => "Eligible",
        false => "Not eligible for support",
        _ => "Empty"
    };

}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.IsReadOnly)
{
    <partial name="Shared/_TaskPausedOrStoppedNotificationSummary" />
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
  
                <p class="govuk-notification-banner__heading">
                    If the eligibility of the school has changed, 
                    <a class="govuk-notification-banner__link" asp-page="@Links.ProjectStatusTab.ChangeProjectStatus.Page"
                       asp-route-id="@(Model?.SupportProject?.Id)">
                       change the project status and eligibility</a>.
                </p>
  
            </div>
        </div>
        <span class="govuk-caption-l">Confirm starting eligibility</span>
        <h1 class="govuk-heading-l">
            Is this school eligible to begin targeted intervention?
        </h1>
        
        <dl class="govuk-summary-list">

  
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Is this school eligible to begin targeted intervention?
                </dt>
                <dd class="govuk-summary-list__value">
                    @eligibility
                </dd>
            </div>
        </dl>
    </div>
</div>