version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: msi
    environment:
      ConnectionStrings__DefaultConnection: ${ConnectionStrings__DefaultConnection}
    depends_on:
      - sql
    ports:
      - "8080:8080"
    command: ["/bin/bash", "-c", "./docker-entrypoint.sh dotnet Dfe.ManageSchoolImprovement.Frontend.dll"]

  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest@sha256:0ec7739e1c5ec2f57861facbe1f2b74f1d3e147c7c97edf91eeea920c5944d9c
    container_name: sql_server
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
