ConnectionStrings__DefaultConnection="Server=sql;Database=MyDb;User Id=sa;Password=sqlS3cret!;TrustServerCertificate=True"
SA_PASSWORD="sqlS3cret!"
AzureAd__ClientId="832c84f3-e8a5-4d14-8575-66ee4d1e630b"
AzureAd__TenantId="fad277c9-c60a-4da1-b5f3-b3b8b34a82f9"
