/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import "inter-ui/inter.css";
$govuk-font-family: "Inter", blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;

@import "govuk-frontend/dist/govuk";
@import "@ministryofjustice/frontend/moj/all";
@import 'dfe-frontend/packages/dfefrontend';
@import "./css/attachment.scss";
@import "./css/related-items.scss";
@import "./css/summary-card.scss";
@import "./css/cookie-banner.scss";

.msi-autocomplete .govuk-input--error {
	border: 2px solid #d4351c !important;
}

.margin-bottom-minus-10{
	margin-bottom: -10px !important;
}

.margin-top-minus-10{
	margin-top: -10px !important;
}

.govuk-tag{
	max-width: none !important;
}
.govuk-task-list__status{

	text-align: left !important;
}
.govuk-task-list__status .govuk-tag {
	float: right !important;
}

.moj-sub-navigation__item {
	margin-bottom: 0;
}

.app-align-right {
  text-align: right;
}

.autocomplete__option {
	font-family: Arial, sans-serif !important;
	font-weight: 400;
}

ul .autocomplete__option {
	margin-bottom: 0px !important;
}

.app-\!-width-one-fifth {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 20% !important;
	}
}

.app-\!-width-two-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 40% !important;
	}
}

.app-\!-width-three-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 60% !important;
	}
}

.app-\!-width-four-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 80% !important;
	}
}

/* Prepare Styling */

.prepare-text-align-right {
	text-align: right !important;
}

.prepare-project-listing__filters-container {
	margin-bottom: 0;
}

.prepare-project-listing__filters-details {
	background-color: #f3f2f1;
	padding: 1rem;
	clear: both;
	margin-bottom: 2em;
	border-left: 0;
}

.prepare-project-listing__fitlers-details-summary:before {
	content: none;
}

.prepare-project-listing__fitlers-details-summary {
	padding-left: 0;
	margin-top: 1em;
}

.prepare-project-listing__button--main {
	margin-bottom: 1em;
	text-decoration: none;
}

.prepare-project-listing__filter {
	background-color: govuk-colour("white");
	overflow-y: auto;
	height: 200px;
}

.prepare-project-listing__conditional {
	border: 0;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
}

.prepare-project-listing__button--apply {
	background-color: govuk-colour("black");
	color: govuk-colour("white");
}

.prepare-project-listing__button--apply:hover {
	background-color: govuk-colour("light-grey");
}

.show-white-space {
   white-space: pre-wrap;
}

.govuk-js-character-count--error .govuk-js-character-count {
	border-color: #d4351c
}

.govuk-js-character-count--error .govuk-js-character-count:focus {
	border-color: #0b0c0c
}

.govuk-header__link .govuk-header__logotype{
	height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
	content: url(~/src/images/department-for-education_black.png);
	height: 30px;
}
