@page "/task-list/adviser-make-initial-contact/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.AdviserMakeInitialContact.IndexModel
@{
    ViewData["Title"] = "Adviser make initial contact";
    
    var summaryItems = SummaryListHelper.For<IndexModel>(
            m => m.IntroductoryEmailSentDate!
    );
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.IsReadOnly)
{
    <partial name="Shared/_TaskPausedOrStoppedNotificationSummary"/>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject?.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Adviser make initial contact
        </h1>
        <p class="govuk-body" data-cy="instruction-to-adviser">The adviser should contact the school to introduce
            themselves to the school's responsible body.</p>
        @if (Model.IsReadOnly)
        {
            <govuk-summary-list model="Model" items="summaryItems"/>
        }
        else
        {
            <form method="post" novalidate>
                <govuk-date-input heading-label="false" label="Enter date of adviser's initial contact with school"
                                  id="introductory-email-sent-date" name="introductory-email-sent-date"
                                  asp-for="@Model.IntroductoryEmailSentDate" hint="For example, 1 7 2024."/>
                <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button"
                        data-cy="select-common-submitbutton">
                    Save and return
                </button>
            </form>
        }
    </div>
</div>
