@page "/engagement-concern/{id:int}/{readableEngagementConcernId:int}/record-use-of-interim-executive-board-date"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.EngagementConcern.RecordInterimExecutiveBoardDateModel

@{
    ViewData["Title"] = "Enter date of regional director's decision to create an interim executive board";
}

@section BeforeMain
{
    <a asp-page="@Links.EngagementConcern.RecordUseOfInterimExecutiveBoard.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Enter date of regional director's decision to create an interim executive board
                        </h1>
                    </legend>
                            <div class="govuk-form-group">
                                <govuk-date-input heading-label="true"
                                                  hint="For example, 1 7 2024."
                                                  id="ieb-created-date"
                                                  name="ieb-created-date"
                                                  asp-for="@Model.InterimExecutiveBoardCreatedDate"/>
                            </div>
                </fieldset>
            </div>

            <div class="govuk-button-group govuk-body">
                <button type="submit" class="govuk-button" data-module="govuk-button"
                        data-cy="save-ieb-created-btn">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

