@page "/improvement-plan-tab/{id:int}"
@model ImprovementPlanTabModel

@{
    ViewData["Title"] = "Improvement plan";
}

@section BeforeMain {
    <a asp-page="@Model.ReturnPage" class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
}
<partial name="_ProjectHeader" model="Model.SupportProject" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Improvement plan</h2>
        <p>As you add the improvement plan objectives, they will be listed here.</p>
        <p>When you have added them all, you should record progress on them after each review.</p>
        <partial name="Shared/_ObjectiveSummaryCards" model="Model.ImprovementPlan" />
    </div>
</div>