@page "/watchlist"

@model Dfe.ManageSchoolImprovement.Frontend.Pages.Watchlist.IndexModel

@{
    ViewData["Title"] = "Your school watchlist";
}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Your school watchlist</h1>
    <p class="govuk-body">
        You can use your watchlist to save schools that are important to you and find them quickly.
        </p>
</div>
<div class=govuk-grid-row>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">
            My watched schools
        </caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">
                School
            </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var name in Model.SchoolNames)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-sort-value="My school">@name</td>
            </tr> 
        }
        </tbody>
    </table>
</div>