@page "/watchlist"

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Watchlist</h1>
        <p class="govuk-body">
            This is your watchlist.
        </p>
    </div>
</div>