@page "/watchlist"

@model Dfe.ManageSchoolImprovement.Frontend.Pages.Watchlist.IndexModel

@{
    ViewData["Title"] = "Your school watchlist";
}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Your school watchlist</h1>
    <p class="govuk-body">
        You can use your watchlist to save schools that are important to you and find them quickly.
        </p>
</div>
<div class=govuk-grid-row>
    <table class="govuk-table govuk-!-margin-bottom-0 si-row-colours-table" data-module="moj-sortable-table" aria-describedby="members">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">Name</th>
            <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">Age</th>
        </tr>
        </thead>

        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Zoe</td>
            <td class="govuk-table__cell">34</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alice</td>
            <td class="govuk-table__cell">22</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Bob</td>
            <td class="govuk-table__cell">45</td>
        </tr>
        </tbody>
    </table>
</div>