@page "/public/accessibility"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration
@attribute [AllowAnonymous]
@inject IConfiguration Configuration

@{
    ViewBag.Title = "Accessibility statement for the Manage school improvement service";
   Layout = "_Layout";
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Accessibility statement
      </h1>

      <p class="govuk-body-m">
            This accessibility statement applies to Manage school improvement.
      </p>
      <p class="govuk-body-m">
         This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
         <li>change colours, contrast levels and fonts </li>
         <li>zoom in up to 400% without the text spilling off the screen</li>
         <li>navigate most of the website using just a keyboard</li>
         <li>navigate most of the website using speech recognition software</li>
         <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver) </li>
      </ul>
      <p class="govuk-body-m">
         We've also made the website text as simple as possible to understand.
      </p>
      <p class="govuk-body-m">
            <a class="govuk-link" target="_blank" href="https://mcmw.abilitynet.org.uk/" rel="noopener">AbilityNet (opens in a new tab)</a> has advice on making your device easier to use if you have a disability.
        </p>

      <h2 class="govuk-heading-l">How accessible this website is</h2>

      <p class="govuk-body">We know some parts of this website are not fully accessible:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Task statuses are not read out by some screen readers. This means that some people using screen readers may miss some important information that other users can get through visual association.</li>
        <li>Only the task links on the task list are selectable, rather than the whole row. This can make it harder for some users to open a task.</li>
        <li>Details components are used to provide additional guidance and information that is useful to some users but not essential for all. There is a known accessibility issue with the details component. It is a button that appears as a link. Some voice assist software might require the user to specifically refer to the link to show more details as a button in order to interact with it.</li>
        <li>The "Apply filters" button is at the top of the list of filters on the list of schools page. Users have to scroll back up or navigate back up the page with keyboard commands to select it. This makes it cumbersome to filter information.</li>
        <li>When allocating an advisor and entering an email address, an error message appears if the user does not enter "rise." at the beginning of the email address. Hint text here could be clearer. This may cause confusion for some users.</li>
      </ol>

      <h2 class="govuk-heading-l">Feedback and contact information </h2>
      <p class="govuk-body-m">
         If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
      </p>
      <ul class="govuk-list govuk-list--bullet">
            <li>email <a class="govuk-link" href="mailto:regionalservices.rg@education.gov.uk?subject=Manage%20school%20improvement:%20support%20query">regionalservices.rg@education.gov.uk</a></li>
            <li>call 0370 000 2288</li>
      </ul> 
      <p class="govuk-body">
            We'll consider your request and get back to you in 2 working days.
        </p>

        <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
      <p class="govuk-body">
            We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, email our service support team on <a class="govuk-link" href="mailto:regionalservices.rg@education.gov.uk?subject=Manage%20school%20improvement:%20support%20query">regionalservices.rg@education.gov.uk</a> or call 0370 000 2288.
        </p>

        <h2 class="govuk-heading-l">Enforcement procedure</h2>
      <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,
            <a class="govuk-link" target="_blank" rel="noopener" href="https://www.equalityadvisoryservice.com/">
                contact the Equality Advisory and Support Service (opens in a new tab)
            </a>.
      </p>

        <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
      <p class="govuk-body">
            The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

      <h2 class="govuk-heading-l">Compliance status</h2>
      <p class="govuk-body">
            This website is partially compliant with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA standard, due to the following non-compliances and the following exemptions.
        </p>

      <h3 class="govuk-heading-m">Non-accessible content</h3>
      <p class="govuk-body">
            The content is non-accessible for the following reasons:
        </p>
      <h4 class="govuk-heading-s">
            Non-compliance with the accessibility regulations
        </h4>
      <ul class="govuk-list govuk-list--bullet">
            <li>information and relationships that are implied by visual formatting may not be read out correctly by some screen readers. This fails WCAG 2.1 AA success criteria 1.3.1 (Info and Relationships)</li>
            <li>on the task list page the task status is not provided in the same reading order for assistive technology users compared to sighted users. This fails WCAG 2.1 AA success criteria 1.3.2 (Meaningful Sequence) and 2.4.3 (Focus Order)</li>
            <li>some information that is available to sighted users is not given to assistive technology users. This fails WCAG 2.1 AA success criteria 4.1.2 (Name, Role, Value)</li>
      </ul>
        <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
      <p class="govuk-body">
            We are looking into the non-compliances and aim to fix them in a future iteration of the website.
        </p>
      <p class="govuk-body">
            We have work in our backlog to:
        </p>
      <ul class="govuk-list govuk-list--bullet">
            <li>make screen readers announce task status when reading out the task link on the task list</li>
            <li>enable entire rows of the task list to be selectable</li>
            <li>explore different design options for content in details components</li>
            <li>move the "Apply filters" button to the bottom of the list of filters and feed this back to the DfE patterns and components working group</li>
            <li>clarify hint text in the Allocate an adviser task to make the required email format clearer to users</li>
      </ul>
        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p class="govuk-body">
            This statement was prepared on 26 March 2025. It was last reviewed on 3 April 2025.
        </p>
      <p class="govuk-body">
        This website was last tested on 26 March 2025. The test was carried out by DfE's Technology Operations team.
        </p>
      <p class="govuk-body">
        Each page was reviewed against WCAG 2.2 guidelines, utilising accessibility software to ensure users with disabilities can view and interact with page content.
        </p>
      <p class="govuk-body">
        Software used:
        </p>
      <ul class="govuk-list govuk-list--bullet">
            <li>Dragon NaturallySpeaking (V16.1)</li>
            <li>JAWS (2025)</li>
            <li>Zoomtext (2025)</li>
      </ul>
      <p class="govuk-body">
        In order to comply with the current legislation, the standard browser used for testing was Edge. Testing was done on a Surface device using Windows 11.
        </p>
   </div>
</div>
