@foreach (var objectiveList in Model)
{
    if (objectiveList.Count != 0)
    {
        var areaOfImprovement = objectiveList[0].AreaOfImprovement;

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">@areaOfImprovement</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    @foreach (var objective in objectiveList)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                                Objective @objective.Order
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @objective.Details
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }

}