name: Cypress test linting

on:
  pull_request:
    paths:
      - src/Dfe.ManageSchoolImprovement.CypressTests
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/Dfe.ManageSchoolImprovement.CypressTests
    steps:
      - name: checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: lint cypress tests
        run: |
          npm ci
          npm run lint        
